# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
# *~
*.o


# Keil output files
_Output
Objects
Listing
Obj

# Keil backup files
*.*bak
*.*bak.*
*.*~*

# Keil temporary files
*.d
*.dep
*.o
*.obj
*.crf
*.lst
*.lpp
*.lst
*.abs
*.axf
*.map

# Keil specific files
*.bak
*.blb
*.d
*.d2
*.dep
*.dsp
*.dsw
*.ilk
*.ncb
*.opt
*.pdb
*.plg
*.suo
*.tds
*.tss
*.tlb
*.trx
*.trxlog
*.aps
*.bsc
*.clw
*.dll
*.idb
*.ipch
*.pch
*.sbr
*.swp
*.sdf
*.aps
*.opt
*.plg
*.vbw
*.lst
*.tr1
*.tr2
*.tln
*.tlog
*.tst
*.ttl
*.tmp
*.vcxproj.user
*.vcproj.*.user
*.vshost.exe
*.vspscc
*.vssscc
*.VC.*
*.VC.DB
*.clw
*.ilk
*.obj
*.tlb
*.tli
*.clw
*.pch
*.scc
*.dsp
*.mak
*.dsp
*.dsw
*.vsmdi
*.suo
*.user
*.ncb
*.opt
*.idb
*.plg
*.pdb
*.ilk
*.aps
*.res
*.tlb
*.exe
*.dll
*.log
*.bak
*.pch
*.idb
*.aps
*.opt
*.plg
*.pdb
*.ilk
*.aps
*.res
*.tlog
*.ncb
*.ilk
*.log
*.sbr
*.bsc
*.obj
*.zip
*.idb
*.pdb
*.opt
*.pch
*.plg
*.aps
*.lastbuildstate
*.tlog
*.ilk
*.res
*.pch
*.idb
*.pdb
*.lastbuildstate
*.res
*.pch
*.idb
*.pdb
*.lastbuildstate
*.suo
*.user
*.sdf
*.opensdf
*.suo
*.sdf
*.suo
*.user
*.userosscache
*.suo
*.suo
*.user
*.VC.db
*.tlog
*.lastbuildstate
*.log
*.testlog
*.testlog
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.suo
*.user
*.userosscache
*.suo
*.suo
*.user
*.VC.db
*.tlog
*.lastbuildstate
*.log
*.testlog
*.testlog
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.suo
*.user
*.userosscache
*.suo
*.suo
*.user
*.VC.db
*.tlog
*.lastbuildstate
*.log
*.testlog
*.testlog
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.suo
*.user
*.userosscache
*.suo
*.suo
*.user
*.VC.db
*.tlog
*.lastbuildstate
*.log
*.testlog
*.testlog
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.suo
*.user
*.userosscache

